<!DOCTYPE html>
<html lang="en">
    <head>
            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Social Life App</title>
        <!--LOAD bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel=stylesheet type=text/css href="../styles/cover.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        
        <style>
            body {
                 background-color: rgba(11, 189, 181, 0.56);
            }
        </style>


    </head>
    <body>
            <% if (typeof messages != 'undefined' && messages.length > 0) { %>
                <div class="alert alert-info text-center">
                    <%= messages[0] %>
                </div>
            <% } %>
            <div class="container-fluid" id="main-frame">
                <div class="row-fluid">
                    <div class="row-fluid text-center">
                        <div class="header" id="welcome-message">
                            <h1 style="color:rgb(234, 8, 163)"> <strong>Welcome!</strong></h1>
                            <h3 style="color:rgb(255, 249, 0)"> <strong>Search and Enjoy Your Life... </strong> </h3>
                        </div>
                    </div>
                </div>

                <div class="row-fluid" id="login-choice">
                    <div class="wrapper text-sm-center">
                        <div class="btn-group" role="group" aria-label="Login group">
                            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myLoginModal" id="LogIn" style="margin-right: 0.3em;"> Log in </button>
                            <a href="/guest"><button type="button" class="btn btn-lg btn-primary"> Guest </button> </a>
                        </div>
                    </div>
                </div>
            </div>

             <!-- Log in modal -->

            <div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header login_modal_header" style="height: 3em; padding-top: 0.6em" >
                            <h3 class="modal-title mx-auto my-auto" id="myModalLabel">One-click Sign In</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body login-modal" style="padding-top: 0.005em">
                            <h3 style="color:grey;font-size: 0.8rem;background:white;" class="text-center">(We won't share and collect anything without your permission)</h3>

                            <div class="clearfix"></div>
                            <div id='social-icons-container' style="margin-top: 1em">
                                <div class='modal-body-left'>
                                    <div class="form-group">
                                        <input type="text" id="username" placeholder="Username" value="" class="form-control login-field" style="font-size: 0.8rem;">
                                        <i class="fa fa-user login-field-icon"></i>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field" style="font-size: 0.8rem">
                                        <i class="fa fa-lock login-field-icon" ></i>
                                    </div>

                                    <a href="#" class="btn btn-sm btn-success modal-login-btn">Login <span style="font-size: 0.8em">(temporarily inactive)</span></a>
                                    <a href="#" class="login-link float-left" style="font-size: 0.8rem">Lost your password?</a>
                                </div>

                                <div class='modal-body-right d-flex mx-auto'>
                                    <div class="modal-social-icons">
                                        <a href='/auth/facebook' class="btn btn-default facebook "> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
                                        <a href='/auth/twitter' class="btn btn-default twitter "> <i class="fa fa-twitter modal-icons"></i> Sign In with Twitter </a>
                                        <a href='/auth/google' class="btn btn-default google "> <i class="fa fa-google modal-icons"></i> Sign In with Google </a>
                                        <a href='/auth/linkedin' class="btn btn-default linkedin "> <i class="fa fa-linkedin modal-icons"></i> Sign In with Linkedin </a>
                                        <a href='/auth/github' class="btn btn-default github "> <i class="fa fa-github modal-icons"></i> Sign In with Github </a>
                                    </div>
                                </div>
                                <div id='center-line'> OR </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group modal-register-btn">
                                <button class="btn btn-primary d-flex mx-auto disabled"> New User! Please Register (Temporarily unavailable)</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="modal-footer login_modal_footer">
                        </div>
                    </div>
                </div>
            </div>

        <!-- Log in modal close -->

        <!--For Bootstrap 4.0 -->
        <!--LOAD JQUERY -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>



    </body>
</html>
