
            body {
                background-color: rgba(11, 189, 181, 0.56);
            }

            @media screen and (max-width: 20em) {
                h1 {
                    font-size: 1.6em;
                }

                h3 {
                    font-size: 0.8em;
                    margin-top: 1em;
                }

                .btn-lg {
                    margin-top: 1em;
                    border-radius: 1em !important;
                    font-size: 0.8em;
                    padding: 0.3em 0.3em;
                }
            }

            @media screen and (min-width: 20.1em) and (max-width: 30.0em) {
                h1 {
                    font-size: 2em;
                }

                h3 {
                    font-size: 1.2em;
                    margin-top: 1em;
                }

                .btn-lg {
                    margin-top: 1em;
                    border-radius: 1em !important;
                    font-size: 1.2em;
                    padding: 0.3em 0.3em;
                }
            }

            @media screen and (min-width: 30.1em) {
                h1 {
                    font-size: 2.6em;
                }

                h3 {
                    font-size: 1.8em;
                    margin-top: 1em;
                }

                .btn-lg {
                    margin-top: 1em;
                    border-radius: 1.6em !important;
                    font-size: 1.6em;
                    padding: 0.3em 0.3em;
                }

            }

            .row-fluid {
                text-align: center;
            }

            .btn-primary {
                color: #fff;
                background-color:rgba(119, 67, 224, 0.88);
                border-color: transparent;
            }

            #main-frame {
              position: absolute;
              vertical-align: middle;
              left: 50%;
              top: 30%;
              -webkit-transform: translate(-50%, -30%);
              transform: translate(-50%, -30%);
            }

        .login_modal_footer{margin-top:5px;}
        .login_modal_header .modal-title {text-align: center;font-family:'Philosopher',sans-serif; }
        .form-group{position: relative;}
        .form-group .login-field-icon {
            font-size: 16px;
            position: absolute;
            right: 10px;
            top: 3px;
            transition: all 0.25s ease 0s;
            padding-top: 8%;
        }

        .login-modal{
            width:100%;
            padding-bottom:20px;
        }

        .login_modal_header, .login_modal_footer {background: rgba(11, 189, 189, 0.84) !important;color:#fff;}
        .modal-register-btn{margin-top: 3em; width:100%; font-size: 0.7em;}
        .login-modal input{height:40px; box-shadow: none; border:1px solid #ddd;}
        .modal-body-left{float:left; width:40%; padding-right:5%; border-right:4px solid #ddd;}
        .modal-body-right{width:60%;}

        .modal-social-icons{padding-left:12.5%}
        .facebook, .twitter, .google, .linkedin, .github {width: 70%;height:2.2em; padding-top:2%; margin-top:2%; font-size:0.7rem;text-align: left}
        .modal-icons{margin-left: -0.2rem; margin-right: 0.2rem; text-align: left}
        .google, .google:hover{background-color:#dd4b39;border:2px solid #dd4b39;color:#fff;}
        .twitter, .twitter:hover{ background-color: #00aced; border:2px solid #00aced;color: #fff;}
        .facebook, .facebook:hover{background-color: #3b5999; border:2px solid #3b5999;color:#fff;}
        .linkedin, .linkedin:hover{background-color: #007bb6; border: 2px solid #007bb6; color:#fff;}
        .github, .github:hover{background-color: #1b1c1d; border: 2px solid #1b1c1d; color:#fff;}
        #social-icons-container{position: relative;}
        #center-line{position: absolute;  right: 57.5%;top: 50%;background:#ddd;  border: 4px solid #DDDDDD;border-radius: 2em; font-size: 0.7rem;}
        .modal-login-btn{width:100%;height:10%; margin-bottom:5px;}
        #modal-launcher{margin: 30% 0 0 30%; }
        .i {
            margin-left: 5px;
            font-size: 30px;
            height: 30px;
            vertical-align: left;
        }

